._*
affdominance.pdf
affdominanceQUESTION.pdf
affine_dominance.pdf
*._aux
*.aux
*.bbl
*.blg
dominance_notes.pdf
.DS_*
*.fdb_latexmk
*.fls
*.ilg
*._log
*.log
*.nlo
*.nls
*.out
scratch.pdf
*.synctex
*.synctex.gz
*.tex.project.vim
*.toc
